# Python cache files
__pycache__/
*.pyc

# Environment files
.env
.env.example

# Secrets
frontend/client_secret.json
frontend/client_secret_local.json
client_secret.json
client_secret_local.json

# Logs
*.log

# Model weights
model_weights/*.pt

# Streamlit config
.streamlit/

# ngrok binaries
ngrok3/ngrok
ngrok3/*.tgz

